@import '~vuetify/src/styles/styles.sass';

$font-size-root: var(--font-root);
$tooltip-padding: 15px 15px;
$text-field-details-margin-bottom: 0;

:root {
	--icon-size: 2rem;
	--font-root: 15px;
}
//  icon default size
.v-icon.v-icon {
	font-size: var(--icon-size);
}
// btn default size
.v-btn {
	font-size: 1.2rem;
}
// button ripple
.v-btn::before {
	background-color: transparent;
}

.theme--dark.v-icon:focus::after {
	opacity: 0;
}
// button font
.v-btn__content {
	font: normal 600 1.2rem Poppins;
	letter-spacing: -0.06rem;
	text-transform: none;
}
// toggle button
.v-btn-toggle > .v-btn.v-btn {
	opacity: 1;
	height: 40px;
}
.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
	height: 40px;
}
.v-btn-toggle > .v-btn.v-btn--active {
	opacity: 1;
	color: white;
}
.v-application--is-ltr .v-btn-toggle > .v-btn.v-btn:first-child {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	padding-left: 24px;
}
.v-application--is-ltr .v-btn-toggle > .v-btn.v-btn:last-child {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	padding-right: 24px;
}
.v-btn-toggle {
	border-radius: 10px;
}
// #loginTabs.theme--dark.v-tabs > .v-tabs-bar {
// 	background-color: transparent !important;
// }
// xs < 600px
@media #{map-get($display-breakpoints, 'xs-only')} {
	:root {
		--icon-size: 1.5rem;
		--font-root: 16px;
	}
}
// SM - 600px - 960px

@media #{map-get($display-breakpoints, 'sm-only')} {
	:root {
		--icon-size: 1.5rem;
		--font-root: 16px;
	}
}
